<table width="960" align="center" cellpadding="0" cellspacing="0" border="0" background="images/PageBg.jpg">
  <tr height="50">
    <td width="33">
      &nbsp;
    </td>
    <td align="center" valign="bottom" class="page_title">
    Report Center
    </td>
  </tr>

  <tr>
    <td width="33">
    </td>

    <td height="1" colspan="2" bgColor="#EEEEEE">
    </td>
    <td width="37">
    </td>
  </tr>

  <!-- Code to render the form for year selection and animation selection -->
  <tr>
    <td width="33">
    </td>
    <td height="1" colspan="2" bgColor="#FFFFFF">
    </td>
    <td width="37">
    </td>
  </tr>
  <tr height="30">
    <td width="33">
    </td>
    <td height="22" colspan="2" align="center" bgColor="#EEEEEE" valign="middle">
    </td>
    <td width="37">
    </td>
  </tr>
  <tr>
    <td width="33">
    </td>
    <td height="1" colspan="2" bgColor="#FFFFFF">
    </td>
    <td width="37">
    </td>

  </tr>

  <tr>
    <td width="33">
    </td>
    <td height="1" colspan="2" bgColor="#EEEEEE">
    </td>
    <td width="37">
    </td>
  </tr>
  <!-- End code to render form -->

  <tr>
    <td height="10" colspan="4">
    </td>
  </tr>

  <tr>
    <td width="33">
    </td>
    <td colspan="2">

      <a name='start' />
      <table width="875" align="center" cellspacing="0" cellpadding="0">
        <tr>

          <td align="left" width="500">
            <%render_chart '/FusionCharts/FCF_MSColumn3D.swf' ,
              "/data/#{@main_chart.sql_query.name}/#{@main_chart.name}.xml" , '',
              @main_chart.name ,
              450 ,  325 ,  false ,  false do;end -%>
          </td>
          <td width="3">

          </td>
          <td valign="top" style="Border-left:#EEEEEE 1px solid;">
            <table width="100%" align="left">
              <tr>
                <td>
                  <!--insert top right chart here-->

                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="100%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="3" align="left" height="26" width="405" style="background-color:darkblue;color:white;font-weight:bold">
                        <span class="textBoldDark">
                          &nbsp;&nbsp; Overview
                        </span>

                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td height="5">
                      </td>
                    </tr>
                    <tr height="27">
                      <td>
                        The Report Center alows you to click on areas of charts to view constituents and underlying data.
                        Click on any of the bars on the chart (genres by period)
                        to load charts below it with client segments for different games in the selected genre.
                        If the data has been loaded already, the charts will appear instantly.
                        Otherwise, the page will send a request to the server to load the data, which should take a few seconds per chart.
                        Once these charts are loaded, they will be instantly available to you on subsequent clicks.

                      </td>
                        
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <!-- Some blank space between two charts -->
      <table width="875" height="10">
        <tr>
          <td>
          </td>
        </tr>
      </table>

       <%
       #define series and category names manually for first set of charts
       series_name = @main_chart.series.first.name
       category_name = @main_chart.categories.first.name
       #load up first set of children using first series and category
       mch_children = @main_chart.children.find_by_params(
         :series_name=>series_name,:category_name=>category_name)
       #get query name from first child
       query_name = mch_children.first.sql_query.name
     %>
      <table width="790" align="left" cellpadding="0" cellspacing="0" border="0" style="Border-top:#EEEEEE 1px solid;">
        <tr><td width="790" colspan="6" align="left">
            <table id="<%="#{@main_chart.name}_child_title_panel"%>" class="chart_group_title_bar">
              <tr><td><span class="chart_name" query_name="<%=query_name.funderscore%>"><%=query_name.titleize%></span></td></tr>
              <tr><td><span class="series_name" name="<%=series_name.funderscore%>"><%=series_name.titleize+','%></span>
                <span class="category_name" name="<%=category_name.funderscore%>"><%=category_name.titleize%></span></td></tr>
            </table>
          </td></tr>
        <tr>
          <td width="20"></td>
          <%mch_children.each do |ch|
            ch_i = mch_children.index(ch)+1
          %>
            <td width="110">
              <%render_chart '/FusionCharts/FCF_StackedColumn3D.swf' ,
                "/data/#{ch.sql_query.name}/#{ch.name}.xml" , '',
                "#{@main_chart.name}_child_#{ch_i}" ,
                120 ,  370 , false ,  false do;end -%>
              <div class="spinner" style="display:none"><%=image_tag 'loading.gif',:class=>'spinner'%><span class="spinner">&nbsp;Loading...</span></div>
            </td>
          <%end%>
          <td width="110">
          </td>
        </tr>
      </table>

      <!-- Some blank space between two charts -->
      <table width="875" height="10">
        <tr>
          <td>
          </td>
        </tr>
      </table>

      <br>
    </td>
    <td width="37">
      &nbsp;
    </td>

  </tr>

  <tr>
    <td width="33">
    </td>
    <td height="1" colspan="2" bgColor="#EEEEEE">
    </td>
    <td width="37">
    </td>
  </tr>

</table>
