<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Report Center</title>
    <%= stylesheet_link_tag "main", :media => "all" %>
    <%= javascript_include_tag :defaults%>
    <%= javascript_include_tag 'fusioncharts'%>
    <%= javascript_include_tag 'report_center'%>
  </head>
  <body bgcolor="#eeeeee" rightmargin="0" bottommargin="0" leftmargin="0" topmargin="0">
    <!--show view-->
    <%=yield %>
  </body>
</html>
